<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="datablocks.dlm.mapper.MetaPiiStatusMapper">

    <sql id="criteria_MetaPiiStatus">
        <trim prefix="where 1=1" suffix="">
            <if test="search1 != null">
                and system_name = #{search1}
            </if>
            <if test="search2 != null">
                and db = #{search2}
            </if>
            <if test="search3 != null">
                and owner = #{search3}
            </if>
        </trim>
    </sql>

    <select id="getList" resultType="datablocks.dlm.domain.MetaPiiStatusVO">
		<![CDATA[
        select system_name  , db  , owner  , total_tables  , total_columns  , pii_notconfirmed  , pii_tables  , pii_columns  , pii3_del_columns  , pii3_upd_columns  , pii3_notregistered  , pii3_notregistered_percentage
        from cotdl.tbl_MetaPiiStatus
        order by system_name, db, owner
        ]]>
	</select>
    <select id="getListByDb" resultType="datablocks.dlm.domain.MetaPiiStatusVO">
        <![CDATA[
        SELECT
            SYSTEM_NAME,
            DB,
            MAX(OWNER) AS OWNER,
            SUM(TOTAL_TABLES) AS TOTAL_TABLES,
            SUM(TOTAL_COLUMNS) AS TOTAL_COLUMNS,
            SUM(PII_NOTCONFIRMED) AS PII_NOTCONFIRMED,
            SUM(PII_TABLES) AS PII_TABLES,
            SUM(PII_COLUMNS) AS PII_COLUMNS,
            SUM(PII3_DEL_COLUMNS) AS PII3_DEL_COLUMNS,
            SUM(PII3_UPD_COLUMNS) AS PII3_UPD_COLUMNS,
            SUM(PII_COLUMNS - PII3_DEL_COLUMNS - PII3_UPD_COLUMNS) AS PII3_NOTREGISTERED,
            CASE
                WHEN SUM(PII_COLUMNS) > 0 THEN
                    ROUND((SUM(PII_COLUMNS - PII3_DEL_COLUMNS - PII3_UPD_COLUMNS) * 100.0) / SUM(PII_COLUMNS), 2)
                ELSE 0.00
                END AS PII3_NOTREGISTERED_PERCENTAGE
        FROM
            COTDL.TBL_METAPIISTATUS
        GROUP BY
            SYSTEM_NAME,
            DB
        ORDER BY
            SYSTEM_NAME,
            DB
        ]]>
    </select>


    <select id="read" resultType="datablocks.dlm.domain.MetaPiiStatusVO">
        select system_name  , db  , owner  , total_tables  , total_columns  , pii_notconfirmed  , pii_tables  , pii_columns  , pii3_del_columns  , pii3_upd_columns  , pii3_notregistered  , pii3_notregistered_percentage
        from cotdl.tbl_MetaPiiStatus
        where system_name= #{system_name, jdbcType=VARCHAR}
          and db= #{db, jdbcType=VARCHAR}
          and owner= #{owner, jdbcType=VARCHAR}
    </select>

    <delete id="delete">
        delete
        from cotdl.tbl_MetaPiiStatus
        where 1=1
    </delete>

    <update id="update">
        update cotdl.tbl_MetaPiiStatus
        set total_tables  = #{total_tables  , jdbcType=VARCHAR},
            total_columns  = #{total_columns  , jdbcType=VARCHAR},
            pii_notconfirmed  = #{pii_notconfirmed  , jdbcType=VARCHAR},
            pii_tables  = #{pii_tables  , jdbcType=VARCHAR},
            pii_columns  = #{pii_columns  , jdbcType=VARCHAR},
            pii3_del_columns  = #{pii3_del_columns  , jdbcType=VARCHAR},
            pii3_upd_columns  = #{pii3_upd_columns  , jdbcType=VARCHAR},
            pii3_notregistered  = #{pii3_notregistered  , jdbcType=VARCHAR},
            pii3_notregistered_percentage= #{pii3_notregistered_percentage, jdbcType=VARCHAR}
            where system_name= #{system_name, jdbcType=VARCHAR}
          and db= #{db, jdbcType=VARCHAR}
          and owner= #{owner, jdbcType=VARCHAR}
    </update>

    <insert id="insert">
		<![CDATA[
        insert into cotdl.TBL_METAPIISTATUS
        select
            (select s.SYSTEM_NAME FROM cotdl.tbl_piidatabase d, cotdl.tbl_piisystem s  where subquery_alias.db = d.db and d.SYSTEM = s.SYSTEM_ID) as system_name,
            db,
            owner,
            total_tables,
            total_columns,
            pii_notconfirmed,
            pii_tables,
            pii_columns,
            pii3_del_columns,
            pii3_upd_columns,
            (pii_columns - pii3_del_columns - pii3_upd_columns) AS pii3_notregistered,
            CASE
                WHEN pii_columns > 0 THEN ROUND(((pii_columns - pii3_del_columns - pii3_upd_columns) * 100.0) / pii_columns, 2)
                ELSE 0.00
                END AS pii3_notregistered_percentage
        FROM
            (
                SELECT
                    t.db,
                    t.owner,
                    COUNT(DISTINCT t.table_name) AS total_tables,
                    COUNT(t.column_name) AS total_columns,
                    COUNT(DISTINCT CASE
                                       WHEN t.PIITYPE IS NOT NULL AND t.PIITYPE NOT IN ('3_3_corpno') THEN t.table_name
                                       ELSE NULL
                        END) AS pii_tables,
                    SUM(CASE
                            WHEN t.PIITYPE IS NOT NULL AND t.PIITYPE NOT IN ('3_3_corpno') THEN 1
                            ELSE 0
                        END) AS pii_columns,
                    SUM(CASE
                            WHEN val3 is null THEN 1
                            ELSE 0
                        END) AS pii_notconfirmed,
                    SUM(CASE
                            WHEN t.PIITYPE IS NOT NULL AND t.PIITYPE NOT IN ('3_3_corpno')
                                AND (
                                         (t.db, t.owner, t.table_name) IN (
                                         SELECT b.db, b.owner, b.table_name
                                         FROM cotdl.tbl_piijob a
                                                  JOIN cotdl.tbl_piisteptable b ON a.jobid = b.jobid AND a.version = b.version
                                         WHERE a.status = 'ACTIVE'
                                           AND a.runtype = 'REGULAR'
                                           AND a.jobtype = 'PII'
                                           AND a.POLICY_ID = 'PII_POLICY3'
                                           AND a.JOBID LIKE 'PII_POLICY3%DELETE'
                                           AND a.version IN (SELECT MAX(CAST(version AS INTEGER)) FROM cotdl.tbl_piijob WHERE jobid = a.jobid)
                                     )
                                     ) THEN 1
                            ELSE 0
                        END) AS pii3_del_columns,
                    SUM(CASE
                            WHEN t.PIITYPE IS NOT NULL AND t.PIITYPE NOT IN ('3_3_corpno')
                                AND (
                                         (t.db, t.owner, t.table_name, t.column_name) IN (
                                         SELECT b.db, b.owner, b.table_name, c.column_name
                                         FROM cotdl.tbl_piijob a
                                                  JOIN cotdl.tbl_piisteptable b ON a.jobid = b.jobid AND a.version = b.version
                                                  JOIN cotdl.tbl_piisteptableupdate c ON b.jobid = c.jobid AND b.version = c.version and b.exetype ='UPDATE'
                                             AND b.seq1 = c.seq1
                                             AND b.seq2 = c.seq2
                                             AND b.seq3 = c.seq3
                                         WHERE a.status = 'ACTIVE'
                                           AND a.runtype = 'REGULAR'
                                           AND a.jobtype = 'PII'
                                           AND a.JOBID LIKE 'PII_POLICY3%UPDATE'
                                           AND a.version IN (SELECT MAX(CAST(version AS INTEGER)) FROM cotdl.tbl_piijob WHERE jobid = a.jobid)
                                     )
                                     ) THEN 1
                            ELSE 0
                        END) AS pii3_upd_columns
                FROM
                    cotdl.tbl_metatable t
                where DB in (select DB FROM cotdl.tbl_piidatabase where ENV = 'PRODUCTION')
                GROUP BY
                    t.db,
                    t.owner
            ) AS subquery_alias
        ORDER BY
            db,
            owner
        ]]>
	</insert>

</mapper>