<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="datablocks.dlm.mapper.PiiDatabaseMapper">

 	<sql id="criteria_piidatabase">
		<trim prefix="where 1=1" suffix="" >
						<if test="search1 != null">
							and db like concat('%',#{search1},'%')
						</if>
						<if test="search2 != null">
							and system like concat('%',#{search2},'%')
						</if>
		</trim>
	</sql> 

	<select id="getList" resultType="datablocks.dlm.domain.PiiDatabaseVO">
		<![CDATA[
		select db, system, env, dbtype, dbuser, null as pwd, hostname, port, id_type, id, comments,  DATE_FORMAT(regdate,'%Y/%m/%d') as regdate,  DATE_FORMAT(upddate,'%Y/%m/%d') as upddate, reguserid, upduserid
		  from cotdl.tbl_piidatabase order by db desc
		]]>
	</select>

	<insert id="insert">
		insert into cotdl.tbl_piidatabase (db, system, env, dbtype, dbuser, pwd, hostname, port, id_type, id, comments, regdate, upddate, reguserid, upduserid)
		values (#{db, jdbcType=VARCHAR}, #{system, jdbcType=VARCHAR}, #{env, jdbcType=VARCHAR}, #{dbtype, jdbcType=VARCHAR}, #{dbuser, jdbcType=VARCHAR}, #{pwd, jdbcType=VARCHAR}, #{hostname, jdbcType=VARCHAR}, #{port, jdbcType=VARCHAR}, #{id_type, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR}, #{comments, jdbcType=VARCHAR}, NOW(), NOW(), #{reguserid, jdbcType=VARCHAR}, #{upduserid, jdbcType=VARCHAR})
	</insert>

	<insert id="insertSelectKey">
		insert into cotdl.tbl_piidatabase (db, system, env, dbtype, dbuser, pwd, hostname, port, id_type, id, comments, regdate, upddate, reguserid, upduserid)
		values (#{db, jdbcType=VARCHAR}, #{system, jdbcType=VARCHAR}, #{env, jdbcType=VARCHAR}, #{dbtype, jdbcType=VARCHAR}, #{dbuser, jdbcType=VARCHAR}, #{pwd, jdbcType=VARCHAR}, #{hostname, jdbcType=VARCHAR}, #{port, jdbcType=VARCHAR}, #{id_type, jdbcType=VARCHAR}, #{id, jdbcType=VARCHAR}, #{comments, jdbcType=VARCHAR}, NOW(), NOW(), #{reguserid, jdbcType=VARCHAR}, #{upduserid, jdbcType=VARCHAR})
	</insert>

	<select id="read" resultType="datablocks.dlm.domain.PiiDatabaseVO">
		select db, system, env, dbtype, dbuser, pwd, hostname, port, id_type, id, comments,  DATE_FORMAT(regdate,'%Y/%m/%d') as regdate,  DATE_FORMAT(upddate,'%Y/%m/%d') as upddate, reguserid, upduserid
		  from cotdl.tbl_piidatabase where db= #{db}
	</select>

	<select id="readBySystem" resultType="datablocks.dlm.domain.PiiDatabaseVO">
		select db, system, env, dbtype, dbuser, pwd, hostname, port, id_type, id, comments,  DATE_FORMAT(regdate,'%Y/%m/%d') as regdate,  DATE_FORMAT(upddate,'%Y/%m/%d') as upddate, reguserid, upduserid
		  from cotdl.tbl_piidatabase where system= #{system, jdbcType=VARCHAR} and env = 'PRODUCTION'
	</select>

	<delete id="delete">
		delete from cotdl.tbl_piidatabase where db= #{db}
	</delete>

	<update id="update">
		update cotdl.tbl_piidatabase
		set 
			system= #{system, jdbcType=VARCHAR},
			env= #{env, jdbcType=VARCHAR},
			dbtype= #{dbtype},
			dbuser= #{dbuser},
			pwd= #{pwd},
			hostname= #{hostname},
			port= #{port},
			id_type= #{id_type},
			id= #{id},
			comments= #{comments},
			upddate= NOW(),
			upduserid= #{upduserid}
		where db= #{db}
	</update>
	<update id="updateWithoutPw">
		update cotdl.tbl_piidatabase
		set 
			system= #{system, jdbcType=VARCHAR},
			env= #{env, jdbcType=VARCHAR},
			dbtype= #{dbtype},
			dbuser= #{dbuser},
			hostname= #{hostname},
			port= #{port},
			id_type= #{id_type},
			id= #{id},
			comments= #{comments},
			upddate= NOW(),
			upduserid= #{upduserid}
		where db= #{db}
	</update>
	
	<select id="getListWithPaging" resultType="datablocks.dlm.domain.PiiDatabaseVO"> 
		<![CDATA[
		select db, system, env, dbtype, dbuser, null as pwd, hostname, port, id_type, id, comments,  DATE_FORMAT(regdate,'%Y/%m/%d') as regdate,  DATE_FORMAT(upddate,'%Y/%m/%d') as upddate, reguserid, upduserid
		  from cotdl.tbl_piidatabase
		]]>
		<include refid="criteria_piidatabase"></include>
	    <![CDATA[
		order by system,
		         CASE env
					WHEN 'PRODUCTION' THEN 1
					WHEN 'PRE-PRODUCTION' THEN 2
					WHEN 'DEVELOPMENT' THEN 3
					WHEN 'ETC' THEN 4
					ELSE 5
				 END
		limit #{offset}, #{amount}
		]]> 
	</select>	

	<select id="getTotalCount" resultType="int">
		select count(1) from cotdl.tbl_piidatabase 
		
		<include refid="criteria_piidatabase"></include> 
			
	</select>


</mapper>