<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="datablocks.dlm.mapper.PiiOrderMapper">

 	<sql id="criteria_piiorder">
		<trim prefix="where 1=1" suffix="" >
						<if test="search1 != null">
							and jobid like concat('%',#{search1, jdbcType=VARCHAR},'%')
						</if>
						<if test="search2 != null">
							and basedate = STR_TO_DATE(#{search2, jdbcType=VARCHAR}, '%Y/%m/%d')
						</if>
						<if test="search3 != null">
							AND (orderuserid = #{search3, jdbcType=VARCHAR}
							OR JOB_OWNER_ID1 = #{search3, jdbcType=VARCHAR}
							OR JOB_OWNER_NAME1 = #{search3, jdbcType=VARCHAR}
							OR JOB_OWNER_ID2 = #{search3, jdbcType=VARCHAR}
							OR JOB_OWNER_NAME2 = #{search3, jdbcType=VARCHAR}
							OR JOB_OWNER_ID3 = #{search3, jdbcType=VARCHAR}
							OR JOB_OWNER_NAME3 = #{search3, jdbcType=VARCHAR})
						</if>
						<if test="search4 != null">
							and status = #{search4, jdbcType=VARCHAR}
						</if>
						<if test="search5 != null">
							and runtype = #{search5, jdbcType=VARCHAR}
						</if>
						<if test="search6 != null">
							and jobtype = #{search6, jdbcType=VARCHAR}
						</if>
		</trim>
	</sql> 

	<select id="getList" resultType="datablocks.dlm.domain.PiiOrderVO">
		<![CDATA[
		select orderid,  DATE_FORMAT(basedate,'%Y/%m/%d') as basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag,  DATE_FORMAT(eststarttime,'%Y/%m/%d %H:%i:%s') as eststarttime, runningtime,  DATE_FORMAT(realstarttime,'%Y/%m/%d %H:%i:%s') as realstarttime,  DATE_FORMAT(realendtime,'%Y/%m/%d %H:%i:%s') as realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3,  DATE_FORMAT(orderdate,'%Y/%m/%d %H:%i:%s') as orderdate, orderuserid
		  from cotdl.tbl_piiorder order by orderid desc
		]]>
	</select>
	<!--같은JOBID는 이전JOB이 종료되어야 추출된다.-->
	<select id="getRunableList" resultType="datablocks.dlm.domain.PiiOrderVO">
		<![CDATA[
		select orderid,  DATE_FORMAT(basedate,'%Y/%m/%d') as basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag,  DATE_FORMAT(eststarttime,'%Y/%m/%d %H:%i:%s') as eststarttime, runningtime,  DATE_FORMAT(realstarttime,'%Y/%m/%d %H:%i:%s') as realstarttime,  DATE_FORMAT(realendtime,'%Y/%m/%d %H:%i:%s') as realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3,  DATE_FORMAT(orderdate,'%Y/%m/%d %H:%i:%s') as orderdate, orderuserid
		  from cotdl.tbl_piiorder
		 where (jobid, basedate) in(
		    select a.jobid, min(a.basedate)
		      from cotdl.tbl_piiorder a
		     where 1=1 
		       and eststarttime <= NOW()
		       and status in ('Wait condition', 'Running')  and holdflag = 'N' and forceokflag = 'N' and killflag = 'N' and confirmflag = 'N'
		       and not exists(select 1 from cotdl.tbl_piiorder where jobid=a.jobid and status in ('Ended not OK', 'Running', 'Hold') and orderid!=a.orderid)
		       and (select count(distinct jobid_w) from cotdl.tbl_piiorderjobwait b where a.orderid = b.orderid and type='PRE') 
		           = (select count(1) from cotdl.tbl_piiorder c
		                where c.jobid in (select jobid_w from cotdl.tbl_piiorderjobwait b where a.orderid = b.orderid and type='PRE')
		                  and c.basedate = a.basedate
		                  and c.status = 'Ended OK' )
		    group by a.jobid
		  )
		]]>
	</select>
	<select id="getRunableListCnt" resultType="int">
		<![CDATA[
		select count(1)
		  from cotdl.tbl_piiorder
		 where (jobid, basedate) in(
		    select a.jobid, min(a.basedate)
		      from cotdl.tbl_piiorder a
		     where 1=1 
		       and eststarttime <= NOW()
		       and status in ('Wait condition', 'Running')  and holdflag = 'N' and forceokflag = 'N' and killflag = 'N' and confirmflag = 'N'
		       and not exists(select 1 from cotdl.tbl_piiorder where jobid=a.jobid and status in ('Ended not OK', 'Running', 'Hold') and orderid!=a.orderid)
		       and (select count(distinct jobid_w) from cotdl.tbl_piiorderjobwait b where a.orderid = b.orderid and type='PRE') 
		           = (select count(1) from cotdl.tbl_piiorder c
		                where c.jobid in (select jobid_w from cotdl.tbl_piiorderjobwait b where a.orderid = b.orderid and type='PRE')
		                  and c.basedate = a.basedate
		                  and c.status = 'Ended OK' )
		    group by a.jobid
		  )
		]]>
	</select>
	<select id="getTestdataPurgeRunningCnt" resultType="int">
		<![CDATA[
		select count(1) from cotdl.tbl_piiorder c
		where c.jobid like 'TESTDATA_PURGE:%'
		  and c.status = 'Running'
		]]>
	</select>
	<select id="getAutoGenTestdataRunningCnt" resultType="int">
		<![CDATA[
		select count(1) from cotdl.tbl_piiorder c
		where c.jobid like 'TESTDATA_AUTO_GEN%'
		  and c.status = 'Running'
		]]>
	</select>
	<select id="getRestoreRunningCnt" resultType="int">
		<![CDATA[
		select count(1) from cotdl.tbl_piiorder c
		where c.jobid like 'RESTORE_CUSTID%'
		  and c.status = 'Running'
		]]>
	</select>
	<select id="getRecoveredCntWithJobidBasedate" resultType="int">
		<![CDATA[
			select count(1) 
              from cotdl.tbl_piiorder 
             where jobid= #{jobid, jdbcType=VARCHAR}
               and status = 'Recovered'
               and basedate = STR_TO_DATE(#{basedate, jdbcType=VARCHAR}, '%Y/%m/%d')
		]]>
	</select>
	<insert id="insert">
		insert into cotdl.tbl_piiorder (orderid, basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag, eststarttime, runningtime, realstarttime, realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3, orderdate, orderuserid)
		values (#{orderid}, str_to_date(#{basedate, jdbcType=VARCHAR},'%Y/%m/%d'), #{runcnt, jdbcType=VARCHAR}, #{jobid, jdbcType=VARCHAR}, #{version, jdbcType=VARCHAR}, #{jobname, jdbcType=VARCHAR}, #{system, jdbcType=VARCHAR}, #{policy_id, jdbcType=VARCHAR}, #{keymap_id, jdbcType=VARCHAR}, #{jobtype, jdbcType=VARCHAR}, #{runtype, jdbcType=VARCHAR}, #{calendar, jdbcType=VARCHAR}, #{time, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR}, #{confirmflag, jdbcType=VARCHAR}, #{holdflag, jdbcType=VARCHAR}, #{forceokflag, jdbcType=VARCHAR}, #{killflag, jdbcType=VARCHAR}, str_to_date(#{eststarttime, jdbcType=VARCHAR},'%Y/%m/%d %H:%i:%s'), null, null, null, #{job_owner_id1, jdbcType=VARCHAR}, #{job_owner_name1, jdbcType=VARCHAR}, #{job_owner_id2, jdbcType=VARCHAR}, #{job_owner_name2, jdbcType=VARCHAR}, #{job_owner_id3, jdbcType=VARCHAR}, #{job_owner_name3, jdbcType=VARCHAR}, NOW(), #{orderuserid, jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSelectKey">
<!-- 		<selectKey resultType="int" keyProperty="orderid" order="BEFORE">
	        select COALESCE(max(orderid),10000)+1 from cotdl.tbl_piiorder        
	    </selectKey>  -->
		insert into cotdl.tbl_piiorder (orderid, basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag, eststarttime, runningtime, realstarttime, realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3, orderdate, orderuserid)
		values (#{orderid}, str_to_date(#{basedate, jdbcType=VARCHAR},'%Y/%m/%d'), #{runcnt, jdbcType=VARCHAR}, #{jobid, jdbcType=VARCHAR}, #{version, jdbcType=VARCHAR}, #{jobname, jdbcType=VARCHAR}, #{system, jdbcType=VARCHAR}, #{policy_id, jdbcType=VARCHAR}, #{keymap_id, jdbcType=VARCHAR}, #{jobtype, jdbcType=VARCHAR}, #{runtype, jdbcType=VARCHAR}, #{calendar, jdbcType=VARCHAR}, #{time, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR}, #{confirmflag, jdbcType=VARCHAR}, #{holdflag, jdbcType=VARCHAR}, #{forceokflag, jdbcType=VARCHAR}, #{killflag, jdbcType=VARCHAR}, str_to_date(#{eststarttime, jdbcType=VARCHAR},'%Y/%m/%d %H:%i:%s'), null, null, null, #{job_owner_id1, jdbcType=VARCHAR}, #{job_owner_name1, jdbcType=VARCHAR}, #{job_owner_id2, jdbcType=VARCHAR}, #{job_owner_name2, jdbcType=VARCHAR}, #{job_owner_id3, jdbcType=VARCHAR}, #{job_owner_name3, jdbcType=VARCHAR}, NOW(), #{orderuserid, jdbcType=VARCHAR})
	</insert>

	<select id="read" resultType="datablocks.dlm.domain.PiiOrderVO">
		select orderid,  DATE_FORMAT(basedate,'%Y/%m/%d') as basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag,  DATE_FORMAT(eststarttime,'%Y/%m/%d %H:%i:%s') as eststarttime, runningtime,  DATE_FORMAT(realstarttime,'%Y/%m/%d %H:%i:%s') as realstarttime,  DATE_FORMAT(realendtime,'%Y/%m/%d %H:%i:%s') as realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3,  DATE_FORMAT(orderdate,'%Y/%m/%d %H:%i:%s') as orderdate, orderuserid
          from cotdl.tbl_piiorder 
         where orderid= #{orderid}
	</select>
	
	<select id="readMaxOrderOkByJobid" resultType="datablocks.dlm.domain.PiiOrderVO">
		select orderid,  DATE_FORMAT(basedate,'%Y/%m/%d') as basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag,  DATE_FORMAT(eststarttime,'%Y/%m/%d %H:%i:%s') as eststarttime, runningtime,  DATE_FORMAT(realstarttime,'%Y/%m/%d %H:%i:%s') as realstarttime,  DATE_FORMAT(realendtime,'%Y/%m/%d %H:%i:%s') as realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3,  DATE_FORMAT(orderdate,'%Y/%m/%d %H:%i:%s') as orderdate, orderuserid
          from cotdl.tbl_piiorder 
         where orderid= (select max(orderid) from cotdl.tbl_piiorder where jobid = #{jobid, jdbcType=VARCHAR} and jobtype='PII' and status = 'Ended OK')
	</select>
	
	<delete id="delete">
		delete from cotdl.tbl_piiorder where orderid= #{orderid}
	</delete>

	<!-- 비-파기 Job 완료 오더 퍼지: 하위 8개 테이블 → 본 테이블 순차 삭제 -->
	<delete id="deleteCompletedNonPiiOrders">
		<![CDATA[
		DELETE FROM cotdl.tbl_piiordersteptableupdate
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_piiordersteptablewait
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_piiorderthread
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_innerstep
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_orderddl
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_piimasterkeymap
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_piiordersteptable
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_piiorderstep
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_piiorderjobwait
		WHERE orderid IN (
			SELECT orderid FROM cotdl.tbl_piiorder
			WHERE jobtype != 'PII'
			  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
			  AND jobid NOT LIKE 'RESTORE_CUSTID%'
			  AND status IN ('Ended OK', 'Recovered')
			  AND realendtime <= #{cutoffDate}
		);
		DELETE FROM cotdl.tbl_piiorder
		WHERE jobtype != 'PII'
		  AND jobid NOT LIKE 'ARC_DATA_DELETE%'
		  AND jobid NOT LIKE 'RESTORE_CUSTID%'
		  AND status IN ('Ended OK', 'Recovered')
		  AND realendtime <= #{cutoffDate}
		]]>
	</delete>


	<select id="readrunresultstat" resultType="datablocks.dlm.domain.PiiOrderRunRusultStatVO">
		SELECT
			SUM(CASE WHEN status='Ended OK' THEN 1 ELSE 0 END) AS ok,
			SUM(CASE WHEN status='Running' THEN 1 ELSE 0 END) AS run,
			SUM(CASE WHEN status='Wait condition' THEN 1 ELSE 0 END) AS wait,
			SUM(CASE WHEN status='Ended not OK' THEN 1 ELSE 0 END) AS ko,
			SUM(CASE WHEN status='Recovered' THEN 1 ELSE 0 END) AS recovered,
			COUNT(1) AS total
		FROM cotdl.tbl_piiorder
		WHERE status IN ('Running', 'Wait condition', 'Ended not OK', 'Hold')
		   OR eststarttime >= DATE_SUB(NOW(), INTERVAL 30 DAY)
	</select>
	<update id="updatebefore">
		update cotdl.tbl_piiorder
		   set 
				status= 'Running',
				realstarttime= COALESCE(realstarttime,NOW()),
				realendtime= null,
				runningtime= TIME_FORMAT(TIMEDIFF(now(),realstarttime),'%H : %i : %s'),
				runcnt = runcnt + 1
		where orderid= #{orderid}
	</update>
	<update id="updateend">
		update cotdl.tbl_piiorder
		   set 
		 	    status= (select rtrim(case when ok = 0 then 'Ended OK'
							               when notok > 0 then 'Ended not OK'
							               when running > 0 then 'Running'
							               when wait > 0 then 'Running'
						        	  end)
						   from (
								select 
									  COALESCE(sum(case when status != 'Ended OK' then 1 end),0) as ok
									, COALESCE(sum(case when status = 'Ended not OK' then 1 end),0) as notok 
									, COALESCE(sum(case when status = 'Running' then 1 end),0) as running 
									, COALESCE(sum(case when status = 'Wait condition' then 1 end),0) as wait 
								from cotdl.tbl_piiorderstep
								where orderid= #{orderid} 
								) tmp
		 				),				
				runningtime= TIME_FORMAT(TIMEDIFF(now(),realstarttime),'%H : %i : %s'),
				realendtime= (select case when ok = 0 then NOW()
						             when notok > 0 then NOW()
						             when running > 0 then null
						             when wait > 0 then null
						        end
						   from (
								select 
									  COALESCE(sum(case when status != 'Ended OK' then 1 end),0) as ok
									, COALESCE(sum(case when status = 'Ended not OK' then 1 end),0) as notok 
									, COALESCE(sum(case when status = 'Running' then 1 end),0) as running 
									, COALESCE(sum(case when status = 'Wait condition' then 1 end),0) as wait 
								from cotdl.tbl_piiorderstep
								where orderid= #{orderid} 
								) tmp
		 					)
		where orderid= #{orderid}
	</update>
	<update id="update">
		update cotdl.tbl_piiorder
		   set 
				runcnt= #{runcnt, jdbcType=VARCHAR},
				status= #{status, jdbcType=VARCHAR},
				confirmflag= #{confirmflag, jdbcType=VARCHAR},
				holdflag= #{holdflag, jdbcType=VARCHAR},
				forceokflag= #{forceokflag, jdbcType=VARCHAR},
				killflag= #{killflag, jdbcType=VARCHAR}
		where orderid= #{orderid}
	</update>
	<update id="updateactionflag">
		update cotdl.tbl_piiorder
		   set 
				confirmflag= #{confirmflag, jdbcType=VARCHAR},
				holdflag= #{holdflag, jdbcType=VARCHAR},
				forceokflag= #{forceokflag, jdbcType=VARCHAR},
				eststarttime= str_to_date(#{eststarttime, jdbcType=VARCHAR},'%Y/%m/%d %H:%i:%s')
				<!-- killflag= #{killflag, jdbcType=VARCHAR}, -->
		where orderid= #{orderid}
	</update>
	<update id="updatestatus">
		update cotdl.tbl_piiorder
		   set 
				status= #{status, jdbcType=VARCHAR}
		where orderid= #{orderid}
	</update>
	<update id="rerun">
		update cotdl.tbl_piiorder
		   set 
				status= 'Wait condition',
				confirmflag= 'N',
				holdflag= 'N',
				forceokflag= 'N',
				<!-- killflag= N, -->
				eststarttime=NOW(),
				runningtime= null,
				realstarttime= null,
				realendtime= null
		where orderid= #{orderid}
	</update>

	<select id="getListWithPaging" resultType="datablocks.dlm.domain.PiiOrderVO"> 
		<![CDATA[ 
		select * from (
			select orderid,  DATE_FORMAT(basedate,'%Y/%m/%d') as basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag,  DATE_FORMAT(eststarttime,'%Y/%m/%d %H:%i:%s') as eststarttime, runningtime,  DATE_FORMAT(realstarttime,'%Y/%m/%d %H:%i:%s') as realstarttime,  DATE_FORMAT(realendtime,'%Y/%m/%d %H:%i:%s') as realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3,  DATE_FORMAT(orderdate,'%Y/%m/%d %H:%i:%s') as orderdate, orderuserid
			  from cotdl.tbl_piiorder
			]]>
			<include refid="criteria_piiorder"></include>
			<![CDATA[
			limit #{offset}, #{amount}
			]]>
		) a
		order by orderid desc
	</select>

	<!--실시간 JOB모니터링-->
	<select id="getListWithPagingDetail" resultType="datablocks.dlm.domain.PiiOrderDetailVO">
		<![CDATA[
		select
			orderid, basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag, eststarttime, runningtime, realstarttime, realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3, orderdate, orderuserid
			, (select group_concat(orderid SEPARATOR ',') from cotdl.tbl_piiorder where jobid=d.jobid and status in ('Ended not OK', 'Running', 'Hold') and orderid!=d.orderid) as waitreason_samejobnotcompleted
			, (case when eststarttime_org > NOW() then eststarttime else '' end) as waitreason_executiontime
			, (case when
						(select count(distinct jobid_w) from cotdl.tbl_piiorderjobwait b where d.orderid = b.orderid and type='PRE')
					   		!= (select count(1) from cotdl.tbl_piiorder c
								where c.jobid in (select jobid_w from cotdl.tbl_piiorderjobwait b where d.orderid = b.orderid and type='PRE')
								  and c.basedate = d.basedate
								  and c.status = 'Ended OK' )
					then (select group_concat(distinct jobid_w SEPARATOR ',') as jobid from cotdl.tbl_piiorderjobwait b where d.orderid = b.orderid and type='PRE'
									and jobid_w not in (
														select distinct c.jobid as jobid
														  from cotdl.tbl_piiorder c
														 where c.jobid in (select jobid_w from cotdl.tbl_piiorderjobwait b where d.orderid = b.orderid and type='PRE')
														   and c.basedate = d.basedate
														   and c.status = 'Ended OK'
														)
						)
					else null end
			  ) as waitreason_waitjob
		from (
			select orderid,  DATE_FORMAT(basedate,'%Y/%m/%d') as basedate, runcnt, jobid, version, jobname,system, policy_id, keymap_id, jobtype, runtype, calendar, time, status, confirmflag, holdflag, forceokflag, killflag,  DATE_FORMAT(eststarttime,'%Y/%m/%d %H:%i:%s') as eststarttime, eststarttime as eststarttime_org, runningtime,  DATE_FORMAT(realstarttime,'%Y/%m/%d %H:%i:%s') as realstarttime,  DATE_FORMAT(realendtime,'%Y/%m/%d %H:%i:%s') as realendtime, job_owner_id1, job_owner_name1, job_owner_id2, job_owner_name2, job_owner_id3, job_owner_name3,  DATE_FORMAT(orderdate,'%Y/%m/%d %H:%i:%s') as orderdate, orderuserid
			  from cotdl.tbl_piiorder
		]]>
		<include refid="criteria_piiorder"></include>
		<![CDATA[
		limit #{offset}, #{amount}
		]]>
		) as d
		order by orderid desc
	</select>

	<select id="getTotalCount" resultType="int">
		select count(1) from cotdl.tbl_piiorder
		<include refid="criteria_piiorder"></include>
	</select>

	<select id="getMaxOrderid" resultType="int">
		select COALESCE(max(orderid),10000) from cotdl.tbl_piiorder
	</select>
	
	<select id="getSameOrderCnt" resultType="int">
		select count(1)
          from cotdl.tbl_piiorder 
         where jobid = upper(#{jobid, jdbcType=VARCHAR})
           and version = #{version, jdbcType=VARCHAR}
           and basedate = STR_TO_DATE(#{basedate, jdbcType=VARCHAR}, '%Y/%m/%d')
	</select>
	
	<select id="getSteptypeCnt" resultType="int">
		select count(1)
          from cotdl.tbl_piiorderstep 
         where orderid= #{orderid}
           and steptype= #{steptype, jdbcType=VARCHAR}
	</select>

	<select id="getOrderJobList" resultType="datablocks.dlm.domain.PiiOrderJobVO">
		<![CDATA[
		select jobid, max(version) as version, max(jobtype) as jobtype, max(runtype) as runtype, max(system) as system, max(calendar) as calendar, max(time) as time, max(job_owner_name1) as job_owner_name1
		, max(policy_id) as policy_id, max(keymap_id) as keymap_id, count(jobid) as runcnt, min(basedate) as basedate_min, max(basedate) as basedate_max
		, max(realstarttime) as lastexedatetime
		from cotdl.tbl_piiorder
		group by jobid
		order by jobid
		]]>
	</select>

	<select id="getRestorableList" resultType="datablocks.dlm.domain.PiiOrderVO">
		<![CDATA[
		SELECT orderid,
			   basedate,
			   runcnt, jobid, version, jobname, system,
			   policy_id, keymap_id, jobtype, runtype,
			   calendar, time, status, confirmflag,
			   holdflag, forceokflag, killflag,
			   eststarttime,
			   runningtime,
			   realstarttime,
			   realendtime,
			   job_owner_id1, job_owner_name1, job_owner_id2,
			   job_owner_name2, job_owner_id3, job_owner_name3,
			   orderdate,
			   orderuserid
		FROM (
			SELECT
			od.orderid,
			DATE_FORMAT(od.basedate,'%Y/%m/%d') as basedate,
			od.runcnt, od.jobid, od.version, od.jobname, od.system,
			od.policy_id, od.keymap_id, od.jobtype, od.runtype,
			od.calendar, od.time, od.status, od.confirmflag,
			od.holdflag, od.forceokflag, od.killflag,
			DATE_FORMAT(od.eststarttime,'%Y/%m/%d %H:%i:%s') as eststarttime,
			od.runningtime,
			DATE_FORMAT(od.realstarttime,'%Y/%m/%d %H:%i:%s') as realstarttime,
			DATE_FORMAT(od.realendtime,'%Y/%m/%d %H:%i:%s') as realendtime,
			od.job_owner_id1, od.job_owner_name1, od.job_owner_id2,
			od.job_owner_name2, od.job_owner_id3, od.job_owner_name3,
			DATE_FORMAT(od.orderdate,'%Y/%m/%d %H:%i:%s') as orderdate,
			od.orderuserid,
			ROW_NUMBER() OVER (PARTITION BY od.jobid ORDER BY od.orderid DESC) as rn
			FROM cotdl.tbl_piirestore rt
			JOIN cotdl.tbl_piiorder od
			ON rt.keymap_id = od.keymap_id
			AND rt.basedate = od.basedate
			WHERE
			od.runtype = 'REGULAR'
			AND od.status = 'ENDED OK'
			AND rt.custid = #{custid, jdbcType=VARCHAR}
			) sub
		WHERE rn = 1
		ORDER BY realstarttime
		]]>
	</select>
	<select id="getRestoreStepArcList" resultType="datablocks.dlm.domain.PiiStepVO">
		<![CDATA[
		SELECT jobid, version, stepid, stepname, steptype, stepseq, db, status, phase, threadcnt, commitcnt, enddate, regdate, upddate, reguserid, upduserid
		FROM (
				 SELECT
					 ot.jobid, ot.version, ot.stepid, ot.stepname,
					 ot.steptype, ot.stepseq, ot.db, ot.status,
					 ot.phase, ot.threadcnt, ot.commitcnt,
					 DATE_FORMAT(ot.enddate,'%Y/%m/%d') as enddate,
					 DATE_FORMAT(ot.regdate,'%Y/%m/%d') as regdate,
					 DATE_FORMAT(ot.upddate,'%Y/%m/%d') as upddate,
					 ot.reguserid, ot.upduserid,
					 ROW_NUMBER() OVER (
						PARTITION BY od.jobid
						ORDER BY od.orderid DESC
					) as rn
				 FROM cotdl.tbl_piirestore rt
						  INNER JOIN cotdl.tbl_piiorder od
									 ON rt.keymap_id = od.keymap_id
										 AND rt.basedate = od.basedate
						  INNER JOIN cotdl.tbl_piistep ot
									 ON od.jobid = ot.jobid
										 AND od.version = ot.version
				 WHERE
					 od.runtype = 'REGULAR'
				   AND od.status = 'ENDED OK'
				   AND ot.steptype = 'EXE_ARCHIVE'
				   AND rt.custid = #{custid, jdbcType=VARCHAR}
			 ) as subquery
		WHERE rn = 1
		ORDER BY stepseq
		]]>
	</select>
</mapper>