<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="datablocks.dlm.mapper.PiiStepTableUpdateMapper">

	<select id="getJobList" resultType="datablocks.dlm.domain.PiiStepTableUpdateVO">
		<![CDATA[
		select jobid, version, stepid, seq1, seq2, seq3, column_name, update_val, status 
		from cotdl.tbl_piisteptableupdate 
		where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR}
		]]>
	</select>
	<select id="getJobMaxList" resultType="datablocks.dlm.domain.PiiStepTableUpdateVO">
		<![CDATA[
		SELECT jobid, version, stepid, seq1, seq2, seq3, column_name, update_val, status
		FROM cotdl.tbl_piisteptableupdate
		WHERE jobid = #{jobid, jdbcType=VARCHAR}
		  AND version = (
			SELECT MAX(version)
			FROM cotdl.tbl_piijob
			WHERE jobid = #{jobid, jdbcType=VARCHAR}
			  and phase='CHECKIN' and status='ACTIVE'
		)
		]]>
	</select>

	<select id="getList" resultType="datablocks.dlm.domain.PiiStepTableUpdateVO">
		<![CDATA[
		select jobid, version, stepid, seq1, seq2, seq3, column_name, update_val, status 
		  from cotdl.tbl_piisteptableupdate 
		 where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR} and stepid= #{stepid}
		   and seq1= #{seq1} and seq2= #{seq2} and seq3= #{seq3}
		]]>
	</select>

	<insert id="insert">
 		insert into COTDL.tbl_piisteptableupdate (jobid, version, stepid, seq1, seq2, seq3, column_name, update_val, status)
		values (#{jobid, jdbcType=VARCHAR}, #{version, jdbcType=VARCHAR}, #{stepid, jdbcType=VARCHAR}, #{seq1, jdbcType=VARCHAR}, #{seq2, jdbcType=VARCHAR}, #{seq3, jdbcType=VARCHAR}, #{column_name, jdbcType=VARCHAR}, #{update_val, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR})
	
	</insert>

	<select id="read" resultType="datablocks.dlm.domain.PiiStepTableUpdateVO">
		select jobid, version, stepid, seq1, seq2, seq3, column_name, update_val, status 
		  from cotdl.tbl_piisteptableupdate 
		 where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR} and stepid= #{stepid}
		   and seq1= #{seq1} and seq2= #{seq2} and seq3= #{seq3}
		   and column_name= #{column_name, jdbcType=VARCHAR}
	</select>

	<delete id="delete">
		delete from cotdl.tbl_piisteptableupdate 
		 where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR} and stepid= #{stepid}
		   and seq1= #{seq1} and seq2= #{seq2} and seq3= #{seq3}
		   and column_name= #{column_name, jdbcType=VARCHAR}
	</delete>
	<delete id="deletebyseq">
		delete from cotdl.tbl_piisteptableupdate 
		 where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR} and stepid= #{stepid}
		   and seq1= #{seq1} and seq2= #{seq2} and seq3= #{seq3}
	</delete>
	<delete id="deletebyjobid">
		delete from cotdl.tbl_piisteptableupdate 
		 where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR}
	</delete>
	<delete id="deletebystepid">
		delete from cotdl.tbl_piisteptableupdate 
		 where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR} and stepid= #{stepid}
	</delete>
	<update id="update">
		update cotdl.tbl_piisteptableupdate
		set 
			update_val= #{update_val, jdbcType=VARCHAR},
			status= #{status, jdbcType=VARCHAR} 
		where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR} and stepid= #{stepid}
		   and seq1= #{seq1} and seq2= #{seq2} and seq3= #{seq3}
		   and column_name= #{column_name, jdbcType=VARCHAR}
	</update>

	<select id="getTotalCount" resultType="int">
		select count(1) from cotdl.tbl_piisteptableupdate a
		 where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR} and stepid= #{stepid}
   		   and seq1= #{seq1} and seq2= #{seq2} and seq3= #{seq3}		
	</select>

	<insert id="checkout">
 		insert into cotdl.tbl_piisteptableupdate 
		select jobid, cast(version as INTEGER)+1 , stepid, seq1, seq2, seq3, column_name, update_val, status
		from cotdl.tbl_piisteptableupdate 
		where jobid= #{jobid, jdbcType=VARCHAR} and version= #{version, jdbcType=VARCHAR}
	</insert>
	
</mapper>