<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="datablocks.dlm.mapper.ReplyMapper">

	<insert id="insert">

		insert into cotdl.tbl_reply (rno, bno, reply, replyer)
		values (seq_reply.nextval, #{bno}, #{reply}, #{replyer})

	</insert>

	<select id="read" resultType="datablocks.dlm.domain.ReplyVO">

		select * from cotdl.tbl_reply where rno =
		#{rno}

	</select>


	<delete id="delete">

		delete from cotdl.tbl_reply where rno = #{rno}

	</delete>

	<update id="update">

		update cotdl.tbl_reply set reply = #{reply}, updatedate =
		NOW() where rno =
		#{rno}

	</update>


	<!-- <select id="getListWithPaging" resultType="datablocks.dlm.domain.ReplyVO"> 
		select rno, bno, reply, replyer, replyDate, updatedate from cotdl.tbl_reply where 
		bno = #{bno} order by rno asc </select -->

<select id="getListWithPaging"
		resultType="datablocks.dlm.domain.ReplyVO">

  <![CDATA[
 select  rno, bno, reply, replyer, replydate, updatedate
 from 
   (
    select /*+INDEX(tbl_reply idx_reply) */ 
       rno, bno, reply, replyer, replyDate, updatedate
    from cotdl.tbl_reply
--     where bno =  #{bno}
--     and rno > 0
--     and  ROWNUM <= #{cri.pagenum} * #{cri.amount}
--    ) where rn > (#{cri.pagenum} -1) * #{cri.amount}
]]>

	</select>


	<select id="getCountByBno" resultType="int">
<![CDATA[
select count(rno) from cotdl.tbl_reply where bno = #{bno}
]]>
	</select>

	<update id="updateReplyCnt">
		update cotdl.tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
	</update>


</mapper>
