<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="datablocks.dlm.mapper.ReportJsonMapper">

	<!-- 1. SELECT - 단건 조회 -->
	<select id="selectReportJsonById" resultType="datablocks.dlm.domain.ReportJsonVO">
		SELECT *
		FROM cotdl.TBL_REPORT_JSON
		WHERE srvy_id = #{srvyId, jdbcType=VARCHAR}
		  AND form_name = #{formName, jdbcType=VARCHAR}
	</select>

	<!-- 2. COUNT - 존재 여부 확인 -->
	<select id="selectReportJsonCountById" resultType="int">
		SELECT COUNT(1)
		FROM cotdl.TBL_REPORT_JSON
		WHERE srvy_id = #{srvyId, jdbcType=VARCHAR}
		  AND form_name = #{formName, jdbcType=VARCHAR}
	</select>

	<!-- 3. DELETE - 삭제 -->
	<delete id="deleteReportJsonById">
		DELETE FROM cotdl.TBL_REPORT_JSON
		WHERE srvy_id = #{srvyId, jdbcType=VARCHAR}
		  AND form_name = #{formName, jdbcType=VARCHAR}
	</delete>

	<!-- 4. UPDATE - 저장된 JSON 수정 -->
	<update id="updateReportJsonById" parameterType="datablocks.dlm.domain.ReportJsonVO">
		UPDATE cotdl.TBL_REPORT_JSON
		SET
			input_json = #{input_json, jdbcType=VARCHAR}
		WHERE srvy_id = #{srvy_id, jdbcType=VARCHAR}
		  AND form_name = #{form_name, jdbcType=VARCHAR}
	</update>

	<!-- 5. INSERT - 새 데이터 저장 -->
	<insert id="insertReportJson" parameterType="datablocks.dlm.domain.ReportJsonVO">
		INSERT INTO cotdl.TBL_REPORT_JSON (
			srvy_id, form_name, form_json, input_json, created_at
		) VALUES (
					 #{srvy_id, jdbcType=VARCHAR},
					 #{orm_name, jdbcType=VARCHAR},
					 #{form_json, jdbcType=CLOB},
					 #{input_json, jdbcType=CLOB},
					 now()
				 )
	</insert>

</mapper>